html { overflow-y:scroll; }
body { padding-top:10px; }

input.form-control.ng-invalid {
  border: 1px solid red;
}
input.form-control.ng-valid {
  border: 1px solid green;
}

select.form-control.ng-invalid {
  border: 1px solid red;
}
select.form-control.ng-valid {
  border: 1px solid green;
}

.ui-grid-cell-right-align {
    text-align: right;
}

.ui-grid-cell-center-align {
    text-align: center;
}

.ui-grid {
	margin-top: 10px;
    font-size: 13px;
}

.no-padding-bottom {
    padding-bottom: 0px;
}

.no-margin-bottom {
    margin-bottom: 0px;
}

.btn-grid {
    margin-left: 3px;
}

.red-font-color {
  color: red;
}

.td-md{
   padding:5px !important;
}

.td-sm{
   padding:1px !important;
}

label {
    margin-top: 3px;
    text-align: right;
}

.loading-box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    z-index: 900;
}​

label {
}

.screen-title {
    margin-top: -10px;
    margin-bottom: 15px;
}

.alert-box {
    position: absolute;
    top: 70%;
    left: 50%;
    margin-top: -25px;
    margin-left: -175px;
    width: 350px;
    height: 50px;
    z-index: 901;
    text-align: center;
}​

label {
}

.alert-box-big {
    position: absolute;
    top: 70%;
    left: 50%;
    margin-top: -45px;
    margin-left: -175px;
    width: 350px;
    height: 90px;
    z-index: 901;
    text-align: center;
}​

label {
}

.login-page-background {
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  z-index: 990;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  text-align: center;
}

.login-page-box {
    background-color: rgba(255,255,255,1.0);
    position: absolute;
    top: 15%;
    left: 50%;
    margin-top: 0px;
    margin-left: -190px;
    width: 380px;
    height: 300px;
    z-index: 991;
    border-style: solid;
    border-width: 3px;
    border-radius: 25px;
    border-color: rgba(45,45,45);
}

.login-page-box-margin {
    margin: 10px 10px 10px 10px;
}

.login-page-box-logo {
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    padding: 25px 15px 25px 15px;
}

.login-page-box-button {
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}
