html { overflow-y:scroll; }
body { padding-top:10px; }

input.form-control.ng-invalid {
  border: 1px solid red;
}
input.form-control.ng-valid {
  border: 1px solid green;
}

select.form-control.ng-invalid {
  border: 1px solid red;
}
select.form-control.ng-valid {
  border: 1px solid green;
}

.ui-grid-cell-right-align {
    text-align: right;
}

.ui-grid-cell-center-align {
    text-align: center;
}

.ui-grid {
	margin-top: 10px;
    font-size: 13px;
}

.no-padding-bottom {
    padding-bottom: 0px;
}

.no-margin-bottom {
    margin-bottom: 0px;
}

.red-font-color {
  color: red;
}

label {
    margin-top: 3px;
    text-align: right;
}

.loading-box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    z-index: 999;
}​

label {
}

.screen-title {
    margin-top: -20px;
    margin-bottom: 20px;
}

.alert-box {
    position: absolute;
    top: 70%;
    left: 50%;
    margin-top: -25px;
    margin-left: -175px;
    width: 350px;
    height: 50px;
    z-index: 1000;
    text-align: center;
}​
