html { overflow-y:scroll; }

input.form-control.ng-invalid {
  border: 1px solid red;
}
input.form-control.ng-valid {
  border: 1px solid green;
}

select.form-control.ng-invalid {
  border: 1px solid red;
}
select.form-control.ng-valid {
  border: 1px solid green;
}

.ui-grid-cell-right-align {
    text-align: right;
}

.ui-grid-cell-center-align {
    text-align: center;
}

.ui-grid-cell-focus {
    outline: 0; background-color: #c9dde1 !important;
}

@media only screen and (max-width : 799px)
{
    .ui-grid {
    	margin-top: 5px;
        font-size: 11px;
    }
}

@media only screen and (min-width : 800px)
{
    .ui-grid {
        margin-top: 10px;
        font-size: 12px;
    }
}

@media only screen and (max-width : 799px)
{
    .ui-grid-cell {
        padding-top: 3px;
    }
}

.no-padding-bottom {
    padding-bottom: 0px;
}

.no-margin-bottom {
    margin-bottom: 0px;
}

.btn-grid {
    margin-left: 3px;
}

.btn-action {
    margin-left: 0px;
    margin-right: 3px;
}

.red-font-color {
  color: red;
}

.td-md{
   padding:5px !important;
}

.td-sm{
   padding:1px !important;
}

label {
    margin-top: 3px;
    text-align: right;
}

.loading-box {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    z-index: 900;
}​

label {
}

.screen-title {
    font-size: 15px;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 10px;
}

label {
}

.alert-box {
    position: absolute;
    top: 75%;
    left: 50%;
    margin-top: -25px;
    margin-left: -180px;
    height: 50px;
    width: 360px;
    z-index: 901;
    text-align: center;
    font-size: 12px;
}​

label {
}
