.login-alert-box {
    position: absolute;
    top: 75%;
    left: 50%;
    margin-top: -40px;
    margin-left: -160px;
    height: 80px;
    width: 320px;
    z-index: 901;
    text-align: center;
}​

label {
}

.login-page-box-margin {
    margin: 10px 10px 10px 10px;
}

.login-page-box-logo {
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    padding: 25px 15px 25px 15px;
}

.login-page-box-button {
    text-align: center;
}
