<div class="modal-header">
    <h4 class="modal-title">{{screenTitle}}</h4>
</div>
<form name="accountForm" class="form-horizontal" novalidate ng-submit="submit()">
	<div class="modal-body">
		<div class="form-group form-group-sm">
			<label for="accountName" class="col-sm-3 control-label">Nome</label>
			<div class="col-sm-9">
				<input type="text" name="accountName" ng-model="account.name" required ng-maxlength=100 ng-minLength=3 class="form-control"/>
				<div class="error" ng-show="(accountForm.accountName.$dirty && accountForm.accountName.$invalid) || (submitted && accountForm.accountName.$invalid)">
					<small class="error" ng-show="accountForm.accountName.$error.required">O campo Nome é obrigatório.</small>
					<small class="error" ng-show="accountForm.accountName.$error.minlength">O campo Nome deve possuir no mínimo 3 caracteres.</small>
					<small class="error" ng-show="accountForm.accountName.$error.maxlength">O campo Nome deve possuir no máximo 100 caracteres.</small>
				</div>
			</div>
		</div>
		<div class="form-group form-group-sm">
			<label for="accountInitialBalance" class="col-sm-3 control-label">Saldo inicial</label>
			<div class="col-sm-4">
				<input numeric decimals="2" name="accountInitialBalance" ng-model="account.initialBalance" required class="form-control"/>
				<div class="error" ng-show="(accountForm.accountInitialBalance.$dirty && accountForm.accountInitialBalance.$invalid) || (submitted && accountForm.accountInitialBalance.$invalid)">
					<small class="error" ng-show="accountForm.accountInitialBalance.$error.required">O campo Saldo inicial é obrigatório.</small>
				</div>
			</div>
		</div>
		<p class="loading-box" ng-show="loading">
			<span class="fa fa-spinner fa-spin fa-5x"></span>
		</p>
		<alert class="alert-box" ng-repeat="alert in alerts" type="{{alert.type}}" close="Utils.closeAlert(this, $index)" dismiss-On-Timeout="{{Utils.alertTimeout()}}">{{alert.msg}}</alert>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary btn-sm">Confirmar</button>
	    <button class="btn btn-default btn-sm" ng-click="cancel()">Cancelar</button>
	</div>
</form>
