<div class="container-fluid" ng-controller="accountsController">
	<div class="row">
		<div class="col-sm-12">
			<div class="text-center screen-title">
				<h3>Cadastro de contas</h3>
			</div>

			<button class="btn btn-primary btn-sm" ng-click="openModal(null, 'new')">Adicionar conta</button>

			<div ui-grid="gridOptions" id="grid" class="grid" ui-grid-resize-columns ui-grid-auto-resize resizable-grid style="width: {{windowWidth}}; height: {{windowHeight}}"></div>

			<div class="loading-box" ng-show="loading">
				<span class="fa fa-spinner fa-spin fa-5x"></span>
			</div>

			<alert class="alert-box" ng-repeat="alert in alerts" type="{{alert.type}}" close="Utils.closeAlert(this, $index)" dismiss-On-Timeout="{{Utils.alertTimeout()}}">{{alert.msg}}</alert>
		</div>
	</div>
</div>
