<div class="modal-header">
    <h3 class="modal-title">{{screenTitle}}</h3>
</div>
<p class="bg-danger" ng-show="errorMessage != null">
	<span>{{errorMessage}}</span>
</p>
<form name="categoryForm" class="form-horizontal" novalidate ng-submit="submit()">
	<div class="modal-body">
		<div id="category-form">
			<div class="form-group">
				<label for="categoryName" class="col-md-2 control-label">Nome</label>
				<div class="col-md-10">
					<input type="text" name="categoryName" ng-model="category.name" required ng-maxlength=100 ng-minLength=3 class="form-control"/>
   					<div class="error" ng-show="(categoryForm.categoryName.$dirty && categoryForm.categoryName.$invalid) || (submitted && categoryForm.categoryName.$invalid)">
    					<small class="error" ng-show="categoryForm.categoryName.$error.required">
        					O campo Nome é obrigatório.
    					</small>
    					<small class="error" ng-show="categoryForm.categoryName.$error.minlength">
            				O campo Nome deve possuir no mínimo 3 caracteres.
    					</small>    					
    					<small class="error" ng-show="categoryForm.categoryName.$error.maxlength">
            				O campo Nome deve possuir no máximo 100 caracteres.
    					</small>
  					</div>					
				</div>
			</div>
			<div class="form-group">
				<label for="categoryType" class="col-md-2 control-label">Tipo</label>
				<div class="col-md-10">
					<select name="categoryType" required ng-model="category.type" ng-options="type for type in categoryTypes" class="form-control"></select>
   					<div class="error" ng-show="(categoryForm.categoryType.$dirty && categoryForm.categoryType.$invalid) || (submitted && categoryForm.categoryType.$invalid)">
    					<small class="error" ng-show="categoryForm.categoryType.$error.required">
        					O campo Tipo é obrigatório.
    					</small>
  					</div>						
				</div>	
			</div>
			<p class="text-center" ng-show="loading">
				<span class="fa fa-spinner fa-spin fa-3x"></span>
			</p>		
		</div>	
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary">Confirmar</button>
	    <button class="btn btn-default" ng-click="closeThisDialog('cancel')">Cancelar</button>
	</div>
</form>