<!-- <div class="modal-header"> --> 
    <h1>Confirme</h1>
    <p>{{message}}</p>
<!-- </div> -->
<!-- <form name="categoryForm" class="form-horizontal" novalidate ng-submit="submit()"> -->
	<!-- <div class="modal-body"> -->
			<!-- <div class="form-group"> -->
				<!-- {{message}} -->
			<!-- </div>		 -->
	<!-- </div> -->
	<!-- <div class="modal-footer"> -->
		<button class="btn btn-primary" ng-click="yes()">Sim</button>
	    <button class="btn btn-warning" ng-click="closeThisDialog('cancel')">Não</button>
	<!-- </div> -->
<!-- </form>