<div class="container-fluid" ng-controller="homeController">
	<div class="row">
		<div class="form-group form-group-sm">
			<div class="col-sm-4">
				<div class="btn-group btn-group-sm">
					<button class="btn btn-success" ng-click="navigatePreviousMonth()">-1 Mês</button>
					<button class="btn btn-success" ng-click="navigateActualMonth()">Atual</button>
					<button class="btn btn-success" ng-click="navigateNextMonth()">+1 Mês</button>
				</div>
			</div>
			<div class="col-sm-4" ng-hide="Utils.isLowResolution()">
				<div class="input-group input-group-sm">
					<input type="text" uib-datepicker-popup name="dateBegin" ng-model="dateBegin" required class="form-control date-mask" is-open="beginOpened"/>
					<span class="input-group-btn">
						<button type="button" class="btn btn-default btn-sm" ng-click="openCalendarDialogBegin($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
					<div class="error" ng-show="(totalsForm.dateBegin.$dirty && totalsForm.dateBegin.$invalid) || (submitted && totalsForm.dateBegin.$invalid)">
						<small class="error" ng-show="totalsForm.dateBegin.$error.required">O campo Período inicial é obrigatório.</small>
					</div>

					<input type="text" uib-datepicker-popup name="dateEnd" ng-model="dateEnd" required class="form-control date-mask" is-open="endOpened"/>
					<span class="input-group-btn">
						<button type="button" class="btn btn-default btn-sm" ng-click="openCalendarDialogEnd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						<button class="btn btn-default btn-sm" ng-click="filter()">Filtrar</button>
					</span>
					<div class="error" ng-show="(totalsForm.dateEnd.$dirty && totalsForm.dateEnd.$invalid) || (submitted && totalsForm.dateEnd.$invalid)">
						<small class="error" ng-show="totalsForm.dateEnd.$error.required">O campo Período final é obrigatório.</small>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<hr style="margin-top: 20px; margin-bottom: 0px">
	</div>

	<div class="row">
		<!-- Totais - Completed -->
		<div class="col-sm-3 home-box">
			<h4>Caixa - Lançamentos realizados</h4>
			<table class="table totals-list">
				<tr>
					<td class="text-left td-md">Saldo anterior:</td>
					<td class="text-right td-md">{{totals.current.completed.previousBalance | number:2}}</td>
				</tr>
				<tr>
					<td class="text-left td-md">Receitas:</td>
					<td class="text-right td-md">{{totals.current.completed.totalIncomes | number:2}}</td>
				</tr>
				<tr>
					<td class="text-left td-md">Despesas:</td>
					<td class="text-right td-md">{{totals.current.completed.totalExpenses | number:2}}</td>
				</tr>
				<tr>
					<td class="text-left td-md">Saldo período:</td>
					<td class="text-right td-md">{{totals.current.completed.partialBalance | number:2}}</td>
				</tr>
				<tr>
					<td class="text-left td-md">Empréstimos:</td>
					<td class="text-right td-md">{{totals.current.completed.totalLoans | number:2}}</td>
				</tr>
				<tr>
					<td class="text-left td-md"><b>Saldo final:</b></td>
					<td class="text-right td-md"><b>{{totals.current.completed.actualBalance | number:2}}</b></td>
				</tr>
			</table>
		</div>

		<!-- Accounts - Completed -->
		<div class="col-sm-3 home-box">
			<h4>Contas</h4>
			<table class="table table-condensed">
				<tr ng-repeat="account in totals.current.completed.accounts | filter: { enabled: true }">
				   <td class="text-left td-sm">{{account.name}}:</td>
				   <td class="text-right td-sm">{{account.actualBalance | number:2}}</td>
			    </tr>
			</table>
		</div>

		<!-- Categories - Incomes - Completed -->
		<div class="col-sm-3 home-box">
			<h4>Receitas</h4>
			<table class="table table-condensed categories-list">
				<tr ng-repeat="category in totals.current.completed.categories | filter: { type: 'Receita', enabled: true }" ng-if="category.totalAmount > 0">
				   <td class="text-left td-sm">{{category.name}}:</td>
				   <td class="text-right td-sm">{{category.totalAmount | number:2}}</td>
			    </tr>
			</table>
		</div>

		<!-- Categories - Expenses - Completed -->
		<div class="col-sm-3 home-box">
			<h4>Despesas</h4>
			<table class="table table-condensed categories-list">
				<tr ng-repeat="category in totals.current.completed.categories | filter: { type: 'Despesa', enabled: true }" ng-if="category.totalAmount > 0">
				   <td class="text-left td-sm">{{category.name}}:</td>
				   <td class="text-right td-sm">{{category.totalAmount | number:2}}</td>
			    </tr>
			</table>
		</div>
	</div>

	<div class="row">
		<hr style="margin-top: 15px; margin-bottom: 0px">
	</div>

	<div class="row">
		<!-- Totais - All -->
		<div class="col-sm-3 home-box">
			<h4>Previsões - Todos os lançamentos</h4>
			<table class="table totals-list">
				<tr>
					<td class="text-left td-md">Saldo anterior:</td>
					<td class="text-right td-md">{{totals.current.all.previousBalance | number:2}}</td>
				</tr>
				<tr>
					<td class="text-left td-md">Receitas:</td>
					<td class="text-right td-md">{{totals.current.all.totalIncomes | number:2}}</td>
				</tr>
				<tr>
					<td class="text-left td-md">Despesas:</td>
					<td class="text-right td-md">{{totals.current.all.totalExpenses | number:2}}</td>
				</tr>
				<tr>
					<td class="text-left td-md">Saldo período:</td>
					<td class="text-right td-md">{{totals.current.all.partialBalance | number:2}}</td>
				</tr>
				<tr>
					<td class="text-left td-md">Empréstimos:</td>
					<td class="text-right td-md">{{totals.current.all.totalLoans | number:2}}</td>
				</tr>
				<tr>
					<td class="text-left td-md"><b>Saldo final:</b></td>
					<td class="text-right td-md"><b>{{totals.current.all.actualBalance | number:2}}</b></td>
				</tr>
			</table>
		</div>

		<!-- Accounts - All -->
		<div class="col-sm-3 home-box">
			<h4>Contas</h4>
			<table class="table table-condensed">
				<tr ng-repeat="account in totals.current.all.accounts | filter: { enabled: true }">
				   <td class="text-left td-sm">{{account.name}}:</td>
				   <td class="text-right td-sm">{{account.actualBalance | number:2}}</td>
			    </tr>
			</table>
		</div>

		<!-- Categories - Incomes - All -->
		<div class="col-sm-3 home-box">
			<h4>Receitas</h4>
			<table class="table table-condensed categories-list">
				<tr ng-repeat="category in totals.current.all.categories | filter: { type: 'Receita', enabled: true }" ng-if="category.totalAmount > 0">
				   <td class="text-left td-sm">{{category.name}}:</td>
				   <td class="text-right td-sm">{{category.totalAmount | number:2}}</td>
			    </tr>
			</table>
		</div>

		<!-- Categories - Expenses - All -->
		<div class="col-sm-3 home-box">
			<h4>Despesas</h4>
			<table class="table table-condensed categories-list">
				<tr ng-repeat="category in totals.current.all.categories | filter: { type: 'Despesa', enabled: true }" ng-if="category.totalAmount > 0">
				   <td class="text-left td-sm">{{category.name}}:</td>
				   <td class="text-right td-sm">{{category.totalAmount | number:2}}</td>
			    </tr>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="loading-box" ng-show="loading">
			<span class="fa fa-spinner fa-spin fa-5x"></span>
		</div>

		<alert class="alert-box" ng-repeat="alert in alerts" type="{{alert.type}}" close="Utils.closeAlert(this, $index)" dismiss-On-Timeout="{{Utils.alertTimeout()}}">{{alert.msg}}</alert>
	</div>
</div>
