<div class="container-fluid" ng-controller="incomesController">
	<div class="row">
		<div class="screen-title">Cadastro de receitas</div>
	</div>

	<div class="row">
		<div class="form-group form-group-sm no-margin-bottom">

			<div class="col-sm-12" ng-show="Utils.isLowResolution()" style="margin-bottom: 5px;">
				<div class="btn-group btn-group-sm">
					<button class="btn btn-success" ng-click="navigatePreviousMonth()">-1 Mês</button>
					<button class="btn btn-success" ng-click="navigateActualMonth()">Atual</button>
					<button class="btn btn-success" ng-click="navigateNextMonth()">+1 Mês</button>
				</div>
			</div>

			<div class="col-sm-4">
				<a class="btn btn-primary btn-sm btn-action" title="Adicionar" href="" ng-click="openModal(null, 'new')"><i class="fa fa-plus fa-lg fa-fw"></i></a>
				<a class="btn btn-primary btn-sm btn-action" title="Editar" ng-show="selectedRow != undefined" href="" ng-click="openModal(selectedRow.entity._id, 'edit')"><i class="fa fa-pencil fa-lg fa-fw"></i></a>
	            <a class="btn btn-primary btn-sm btn-action" title="Excluir" ng-show="selectedRow != undefined" href="" ng-click="deleteConfirmation(selectedRow.entity._id)"><i class="fa fa-trash-o fa-lg fa-fw"></i></a>
	            <a class="btn btn-primary btn-sm btn-action" title="Clonar" ng-show="selectedRow != undefined" href="" ng-click="openModal(selectedRow.entity._id, 'clone')"><i class="fa fa-clone fa-lg fa-fw"></i></a>
	            <a class="btn btn-primary btn-sm btn-action" title="Receber" ng-show="selectedRow.entity.status == 'Em aberto'" href="" ng-click="receiveIncomeConfirmation(selectedRow.entity._id)"><i class="fa fa-usd fa-lg fa-fw"></i></a>
				<a class="btn btn-primary btn-sm btn-action" title="Gerar" href="" ng-click="openGeneratorModal(null, 'new')"><i class="fa fa-cog fa-lg fa-fw"></i></a>
			</div>

			<div class="col-sm-4" ng-hide="Utils.isLowResolution()" style="text-align: center;">
				<div class="btn-group btn-group-sm">
					<button class="btn btn-success" ng-click="navigatePreviousMonth()">-1 Mês</button>
					<button class="btn btn-success" ng-click="navigateActualMonth()">Atual</button>
					<button class="btn btn-success" ng-click="navigateNextMonth()">+1 Mês</button>
				</div>
			</div>

			<div class="col-sm-4" ng-hide="Utils.isLowResolution()">
				<div class="input-group input-group-sm">
					<input type="text" uib-datepicker-popup name="incomeDueDateBegin" ng-model="incomeDueDateBegin" required class="form-control date-mask" is-open="beginOpened"/>
					<span class="input-group-btn">
						<button type="button" class="btn btn-default btn-sm" ng-click="openCalendarDialogBegin($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
					<div class="error" ng-show="(incomeForm.incomeDueDateBegin.$dirty && incomeForm.incomeDueDateBegin.$invalid) || (submitted && incomeForm.incomeDueDateBegin.$invalid)">
						<small class="error" ng-show="incomeForm.incomeDueDateBegin.$error.required">O campo Período inicial é obrigatório.</small>
					</div>

					<input type="text" uib-datepicker-popup name="incomeDueDateEnd" ng-model="incomeDueDateEnd" required class="form-control date-mask" is-open="endOpened"/>
					<span class="input-group-btn">
						<button type="button" class="btn btn-default btn-sm" ng-click="openCalendarDialogEnd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						<button class="btn btn-default btn-sm" ng-click="filter()">Filtrar</button>
					</span>
					<div class="error" ng-show="(incomeForm.incomeDueDateEnd.$dirty && incomeForm.incomeDueDateEnd.$invalid) || (submitted && incomeForm.incomeDueDateEnd.$invalid)">
						<small class="error" ng-show="incomeForm.incomeDueDateEnd.$error.required">O campo Período final é obrigatório.</small>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 grid-margins">
			<div class="form-group form-group-sm no-margin-bottom">
				<div ui-grid="gridOptions" id="grid" class="grid" ui-grid-resize-columns ui-grid-auto-resize ui-grid-selection ui-grid-cellNav resizable-grid style="width: {{windowWidth}}; height: {{windowHeight}}"></div>
			</div>

			<div class="loading-box" ng-show="loading">
				<span class="fa fa-spinner fa-spin fa-5x"></span>
			</div>

			<alert class="alert-box" ng-repeat="alert in alerts" type="{{alert.type}}" close="Utils.closeAlert(this, $index)" dismiss-On-Timeout="{{Utils.alertTimeout()}}">{{alert.msg}}</alert>
		</div>
	</div>

</div>
