<div class="container-fluid" ng-controller="loansController">
	<div class="row">
		<div class="screen-title">Cadastro de empréstimos</div>
	</div>

	<div class="row">
		<div class="form-group form-group-sm no-margin-bottom">

			<div class="col-sm-4 col-sm-top-bar">
				<a class="btn btn-primary btn-sm btn-action" title="Adicionar" href=""
					ng-click="openModal(null, 'new')"><i class="fa fa-plus fa-lg fa-fw"></i></a>
				<a class="btn btn-primary btn-sm btn-action" title="Editar" ng-show="selectedRow != undefined" href=""
					ng-click="openModal(selectedRow.entity._id, 'edit')"><i class="fa fa-pencil fa-lg fa-fw"></i></a>
				<a class="btn btn-primary btn-sm btn-action" title="Excluir" ng-show="selectedRow != undefined" href=""
					ng-click="deleteConfirmation(selectedRow.entity._id)"><i class="fa fa-trash-o fa-lg fa-fw"></i></a>
				<a class="btn btn-primary btn-sm btn-action" title="Clonar" ng-show="selectedRow != undefined" href=""
					ng-click="openModal(selectedRow.entity._id, 'clone')"><i class="fa fa-clone fa-lg fa-fw"></i></a>
				<a class="btn btn-primary btn-sm btn-action" title="Quitar"
					ng-show="selectedRow.entity.status == 'Em aberto'" href=""
					ng-click="payLoanConfirmation(selectedRow.entity._id)"><i class="fa fa-usd fa-lg fa-fw"></i></a>
			</div>

			<div class="col-sm-4 col-sm-top-bar"
				style="{{Utils.getStyleRes('text-align:center;', 'padding-top:5px;')}}">
				<label>
					<input type="checkbox" name="loanListPaidLoans" ng-model="listPaidLoans" ng-change="getLoans()" />
					Listar empréstimos quitados?
				</label>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 grid-margins">
			<div class="form-group form-group-sm no-margin-bottom">
				<div ui-grid="gridOptions" id="grid" class="grid" ui-grid-resize-columns ui-grid-auto-resize
					ui-grid-selection ui-grid-cellNav resizable-grid
					style="width: {{windowWidth}}; height: {{windowHeight}}"></div>
			</div>

			<div class="loading-box" ng-show="loading">
				<span class="fa fa-spinner fa-spin fa-5x"></span>
			</div>

			<uib-alert class="alert-box" ng-repeat="alert in alerts" type="{{alert.type}}"
				close="Utils.closeAlert(this, $index)" dismiss-On-Timeout="{{Utils.alertTimeout()}}">{{alert.msg}}
			</uib-alert>
		</div>
	</div>
</div>